In [730]:
import numpy as np
import pandas as pd
import csv
from io import StringIO # import StringIO module
import glob
import os

In [731]:
def get_df_5_partidos(link):

    with open(link, "r") as f:
        text = f.read() # read the file as a string

    # replace the substring in the whole string
    text = text.replace('COMPROMISO,', 'COMPROMISO')
    text = text.replace('COMPROMISO.', 'COMPROMISO')

    # convert the string to a list of lines
    rows = text.splitlines()

    start = [i for i, s in enumerate(rows) if "Código ,Nombre" in s][0]

    data = rows[start:]

    # join the data lines into a single string
    data_str = '\n'.join(data)

    # convert the data string to a StringIO object
    data_io = StringIO(data_str)

    # read the data into a dataframe with comma separator
    df = pd.read_csv(data_io, sep=',',dtype=str,  names=['col1', 'col2', 'col3', 'col4', 'col5', 'col6','col7', 'col8', 'col9','col10'], quoting=csv.QUOTE_NONE)
    df = df.iloc[1:25].copy()
    lenght = len(df.columns)
    result = df.iloc[:,2].fillna('')

    for i in range(3,lenght):
        result = result + df.iloc[:,i].fillna('')
    eliminate_special_characters = {' ':'', '\.':'','/':'1','o':'0','O':'0', ':':'','C':'0','-':'', 'X':'','a':'9',
                                    '\(':'','\)':'','I':'1', 'U':'0', 'G':'6','D':'0','S':'5','B':'8','E':'8','A':'4',
                                    'b':'6','s':'5','\#':'4', '\+':'7', 'Q':'0', "\\\\":'1', 'H':'4', '&':'8', '\>':'',
                                    '\$':'5', 'x':'','\?':'3', 'J':'','T':'7', 'n':'6', 't':'7','\<':'5', '\}':'3',
                                    'Z':'2'}
    df["votos_ocr"] = result.replace(eliminate_special_characters, regex=True)
    df = df[["col1","votos_ocr"]].copy()
    df.columns = ["codigo","votos_ocr"]
    #df_final = df[df["codigo"].str.contains("23") |df["codigo"].str.contains("15")|df["codigo"].str.contains("41")|df["codigo"].str.contains("88")|df["codigo"].str.contains("20") ].copy()

    df_final = df[df["codigo"].str.contains("41") |df["codigo"].str.contains("20") ].copy()

    df_final["codigo"] = df_final["codigo"].str.rstrip()
    change_numebers = {"23":"TODOS","15":"UNE","41":"VALOR UNIONISTA","88":"FOPPA X LA CIUDAD","20":"CREO"}
    df_final["codigo"] = df_final["codigo"].replace(change_numebers)

    return df_final

In [732]:
directorio_de_archivos = glob.glob("/Users/rudikrompich/Git/recopilacion_y_analisis_elecciones_de_guatemala_2023/final_data/elecciones_2023/corporacion_municipal/distrito_central_csv/*.*")

In [733]:
len(directorio_de_archivos)

2023

In [734]:
cantidad_errores = 0
df_general_ocr = pd.DataFrame()
for archivo in directorio_de_archivos:
    filename = os.path.basename(archivo).split(".")[0]
    name_separated = filename.split("_")
    centro = name_separated[2]
    mesa = name_separated[4]

    try:
        df_individual = get_df_5_partidos(archivo)
        df_individual["centro"] = centro
        df_individual["mesa"] = mesa
        df_individual["centro"] = df_individual["centro"].astype(int)
        df_individual["mesa"] = df_individual["mesa"].astype(int)
        df_general_ocr = pd.concat([df_general_ocr,df_individual])
    except:
        print(archivo)
        cantidad_errores = cantidad_errores + 1

In [735]:
df_general_ocr

             codigo votos_ocr  centro  mesa
3   VALOR UNIONISTA        64      53   693
24             CREO       039      53   693
3   VALOR UNIONISTA       815      72   933
24             CREO       058      72   933
3   VALOR UNIONISTA        41     111  1512
..              ...       ...     ...   ...
24             CREO       051      81  1034
3   VALOR UNIONISTA       076      70   892
24             CREO       064      70   892
3   VALOR UNIONISTA        18      29   366
24             CREO       019      29   366

[4046 rows x 4 columns]

In [736]:
dataframe_generado = sorted(df_general_ocr["mesa"].unique().tolist())

all_numbers = set(range(1, 2024))

missing_numbers = all_numbers - set(dataframe_generado)
missing_numbers

set()

In [737]:
sorted(df_general_ocr["mesa"].unique().tolist())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [738]:
analisis = df_general_ocr.groupby(["mesa"]).count()
analisis[analisis["codigo"] != 2]

Empty DataFrame
Columns: [codigo, votos_ocr, centro]
Index: []

# Datos del TSE del sistema TREP

In [739]:
df_complete_trep = pd.read_csv("/Users/rudikrompich/Git/recopilacion_y_analisis_elecciones_de_guatemala_2023/data_sistema_trep/4-CORPORACIÓN/gtm2023_e4d00m01.csv", sep=",",skiprows=4)
df_complete_trep = df_complete_trep.iloc[:,:31].copy().drop(columns=["DEPARTAMENTO", "ID_DEPARTAMENTO", "MUNICIPIO", "ID_MUNICIPIO", "PADRÓN"])
df_complete_trep = pd.melt(df_complete_trep, id_vars=["CENTRO_DE_VOTACIÓN", "MESA"], value_vars=df_complete_trep.columns[2:], var_name="codigo", value_name="votos_trep")

df_complete_trep["votos_trep"] = df_complete_trep["votos_trep"].replace("--", 0)
df_complete_trep["votos_trep"] = df_complete_trep["votos_trep"].astype(int)
df_complete_trep.columns = ['centro', 'mesa', 'codigo', 'votos_trep']
df_complete_trep

       centro  mesa codigo  votos_trep
0           1     1  TODOS           9
1           1     2  TODOS          14
2           1     3  TODOS          10
3           1     4  TODOS           9
4           2     5  TODOS           7
...       ...   ...    ...         ...
48547     152  2019   CREO           2
48548     152  2020   CREO           1
48549     152  2021   CREO           2
48550     152  2022   CREO           4
48551     152  2023   CREO           0

[48552 rows x 4 columns]

# Merge

In [740]:
def check_votos(row):
  # convert votos_ocr column to int if possible, otherwise return "Incorrect"
  try:
    row["votos_ocr"] = int(row["votos_ocr"])
  except ValueError:
    return "Incorrect"

  # compare votos_ocr and votos_trep columns and return "correct" if they match, otherwise return "Incorrect"
  if row["votos_ocr"] == row["votos_trep"]:
    return "correct"
  else:
    return "Incorrect"

def change_votos(row):
  # convert votos_ocr column to int if possible, otherwise return "Incorrect"
  try:
    row["votos_ocr"] = int(row["votos_ocr"])
  except ValueError:
    return np.NaN

  # compare votos_ocr and votos_trep columns and return "correct" if they match, otherwise return "Incorrect"
  if row["votos_ocr"] == row["votos_trep"]:
    return row["votos_trep"]
  else:
    return np.NaN

In [741]:
df_completo_con_ocr_y_trep = pd.merge(df_general_ocr, df_complete_trep, on=["centro", "mesa", "codigo"],how='left')
df_completo_con_ocr_y_trep['votos_trep'] = df_completo_con_ocr_y_trep['votos_trep']

df_completo_con_ocr_y_trep["result"] = df_completo_con_ocr_y_trep.apply(check_votos, axis=1)
df_completo_con_ocr_y_trep["votos_ocr_correcto"] = df_completo_con_ocr_y_trep.apply(change_votos, axis=1)


df_completo_con_ocr_y_trep.loc[df_completo_con_ocr_y_trep["result"] == "Incorrect", "votos_ocr"] = df_completo_con_ocr_y_trep.loc[df_completo_con_ocr_y_trep["result"] == "Incorrect", "votos_ocr"].replace({'1':''},regex=True)

df_completo_con_ocr_y_trep["result"] = df_completo_con_ocr_y_trep.apply(check_votos, axis=1)
df_completo_con_ocr_y_trep["votos_ocr_correcto"] = df_completo_con_ocr_y_trep.apply(change_votos, axis=1)

df_completo_con_ocr_y_trep.sort_values(by="mesa").reset_index(drop=True,inplace=True)
df_completo_con_ocr_y_trep = df_completo_con_ocr_y_trep[['centro', 'mesa','codigo', 'result', 'votos_trep','votos_ocr','votos_ocr_correcto']].copy()

In [742]:
df_completo_con_ocr_y_trep["result"].value_counts()

correct      3550
Incorrect     496
Name: result, dtype: int64

In [743]:
df_completo_con_ocr_y_trep.to_excel('/Users/rudikrompich/Git/recopilacion_y_analisis_elecciones_de_guatemala_2023/data_analisis/errores_corporacion_municipal_distrito_central.xlsx',index=False)

# Análisis

In [744]:
df_analisis_con_correcciones = pd.read_excel("/Users/rudikrompich/Git/recopilacion_y_analisis_elecciones_de_guatemala_2023/data_analisis/arreglo_manual.xlsx")
df_analisis_con_correcciones

,centro,mesa,codigo,result,votos_trep,votos_ocr,votos_ocr_correcto,comentario
0,2,9,VALOR UNIONISTA,Incorrect,52,5,52,NaN
1,2,10,CREO,Incorrect,47,04,47,NaN
2,2,11,CREO,Incorrect,57,NaN,57,NaN
3,2,11,VALOR UNIONISTA,Incorrect,65,NaN,65,NaN
4,2,16,CREO,Incorrect,59,0549,59,NaN
...,...,...,...,...,...,...,...,...
4041,85,1137,VALOR UNIONISTA,correct,127,127,127,NaN
4042,86,1138,VALOR UNIONISTA,correct,127,127,127,NaN
4043,152,2023,CREO,Incorrect,0,NaN,0,NaN
4044,83,1091,VALOR UNIONISTA,correct,132,132,132,NaN
4045,85,1125,VALOR UNIONISTA,correct,134,134,134,NaN

In [745]:
df_analisis_con_correcciones["diferencia"] = df_analisis_con_correcciones["votos_trep"] - df_analisis_con_correcciones["votos_ocr_correcto"]

In [746]:
df_final_diferencias = df_analisis_con_correcciones[(df_analisis_con_correcciones["diferencia"] != 0) |(df_analisis_con_correcciones["comentario"].notna())].copy()
df_final_diferencias

,centro,mesa,codigo,result,votos_trep,votos_ocr,votos_ocr_correcto,comentario,diferencia
8,47,604,CREO,correct,0,0,59,Se confundieron de papeleta lol https://www.tr...,-59
22,102,1335,CREO,correct,1,01,91,Este se arregló por medio del algoritmo en est...,-90
32,152,2015,CREO,Incorrect,2,00,2,Gran desorden!,0
36,11,153,VALOR UNIONISTA,Incorrect,10,NaN,10,No aparecen los datos para los primeros 6 part...,0
41,34,430,VALOR UNIONISTA,Incorrect,77,NaN,77,Se digitó mal,0
159,19,242,VALOR UNIONISTA,Incorrect,0,049,49,NaN,-49
161,19,242,CREO,Incorrect,0,046,45,NaN,-45
255,30,368,VALOR UNIONISTA,Incorrect,0,P,69,Se confundieron de papeleta lol,-69
274,30,368,CREO,Incorrect,0,024,50,Se confundieron de papeleta lol,-50
602,47,599,VALOR UNIONISTA,Incorrect,0,045,45,Esta papeleta súper rara thoug,-45
630,47,599,CREO,Incorrect,0,066,66,Esta papeleta súper rara thoug,-66
633,47,604,VALOR UNIONISTA,Incorrect,0,02,42,Se confundieron de papeleta lol https://www.tr...,-42
1738,75,953,CREO,Incorrect,0,NaN,60,NaN,-60
2241,88,1157,CREO,Incorrect,7,NaN,67,NaN,-60
2583,100,1319,VALOR UNIONISTA,Incorrect,0,NaN,39,NaN,-39
2615,100,1319,CREO,Incorrect,0,NaN,53,NaN,-53
3150,118,1649,CREO,Incorrect,0,NaN,69,NaN,-69
3375,118,1649,VALOR UNIONISTA,Incorrect,0,670,66,NaN,-66
3450,120,1688,VALOR UNIONISTA,Incorrect,0,037,37,¿Acta ilegible? Se ve elegible para mí,-37
3479,120,1688,CREO,Incorrect,0,065,65,¿Acta ilegible? Se ve elegible para mí,-65
3789,130,1834,VALOR UNIONISTA,Incorrect,0,003,12,NaN,-12
3791,130,1834,CREO,Incorrect,0,005,20,NaN,-20

In [747]:
df_analisis_con_correcciones.groupby(["codigo"]).sum()

/var/folders/5x/zy_k3bv51t34gj2y4llrp6lw0000gn/T/ipykernel_23278/1411082501.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_analisis_con_correcciones.groupby(["codigo"]).sum()

                 centro     mesa  votos_trep  votos_ocr_correcto  diferencia
codigo
CREO             152812  2047276      105698              106335        -637
VALOR UNIONISTA  152812  2047276      106220              106579        -359

In [749]:
106579-106335

244